<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>pipeline {
    agent {
		label &apos;Slave&apos;
	}

    tools {
        // Install the Maven version configured as &quot;M3&quot; and add it to the path.
        maven &quot;M3&quot;
    }
    
    environment{
		IMAGE = readMavenPom().getArtifactId()
		VERSION = readMavenPom().getVersion()
	}

    stages {
        
        stage(&apos;Cleaning app&apos;){
			steps {
				sh &quot;docker rm -f pandaapp || true&quot;
			}
		}
		stage(&apos;Get code&apos;){
			steps {
				git branch: &apos;pipeline_jenkins&apos;, credentialsId: &apos;github&apos;, url: &apos;https://github.com/kamx44/panda_app.git&apos;
			}
		}
		stage(&apos;Build application &amp;&amp; JUnit&apos;){
			steps {
				sh &quot;mvn package -Pdocker -Dmaven.test.skip=true&quot;
			}
		}
		stage(&apos;Start application&apos;){
			steps {
				sh &quot;docker run -d --name pandaapp -p 0.0.0.0:8080:8080 -t ${IMAGE}:${VERSION}&quot;
			}
		}
		stage(&apos;Selenium test&apos;){
			steps {
				sh &quot;mvn test -Pselenium&quot;
			}
		}
		stage(&apos;Artifactory&apos;){
			steps {
                configFileProvider([configFile(fileId: &apos;f29de68e-76e8-492f-a2bc-b3ab0cb9c87b&apos;, variable: &apos;MAVEN_SETTINGS&apos;)]) {
                    sh &quot;mvn -s $MAVEN_SETTINGS deploy -Dmaven.test.skip=true&quot;
                }
			}
		}
    }
		
    post {
        always {
            sh &quot;docker stop pandaapp&quot;
            junit &apos;**/target/surefire-reports/TEST-*.xml&apos;
            archiveArtifacts &apos;target/*.jar&apos;
            deleteDir()
        }
    }
    
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>